@reference "../../../app/globals.css";

.carousel {
  @apply w-full m-auto;
  --slide-height: 25rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.carousel_viewport {
  @apply overflow-hidden;
}
.carousel_container {
  @apply flex touch-pan-y touch-pinch-zoom ml-[calc(var(--slide-spacing)*-1)];
}
.carousel_slide {
  @apply flex shrink-0 grow-0 basis-(--slide-size) min-w-0 pl-(--slide-spacing);
}
.carousel_slide__img {
  @apply rounded-sm block h-(--slide-height) w-full object-cover;
}
.carousel_controls {
  @apply grid grid-cols-[auto_1fr] justify-between gap-5 mt-5;
}
.carousel_buttons {
  @apply grid grid-cols-2 gap-2 items-center;
}
.carousel_dots {
  @apply flex flex-wrap justify-end items-center;
}
.carousel_slide__img {
  user-select: none;
}
